<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)"> </app-user>
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"> </app-user>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"> </app-user>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"> </app-user>
    </li>
  </ul>
  <!-- ?. means if it exists, else undefined -->
  <app-tasks [name]="selectedUser?.name" />
</main>
