<app-header></app-header>
<main>
  <ul id="users">
    <!-- <li *ngFor="let user of users; let i = index">
      <app-user [user]="user" (select)="onSelectUser($event)"> </app-user>
    </li> -->

    @for (user of users; track $index) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)"> </app-user>
    </li>
    }

    <!-- <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)"> </app-user>
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"> </app-user>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"> </app-user>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"> </app-user>
    </li> -->
  </ul>
  <!-- ?. means if it exists, else undefined -->
  <app-tasks [name]="selectedUser?.name" />
</main>
