<div>
  <ul>
    <!-- @for (ticket of tickets; track ticket.id) {
    <li>
      <app-ticket />
    </li>
    } @empty {
    <li>
      <p>No tickets found</p>
    </li>
    } -->

    <ng-container *ngIf="tickets.length > 0; else noTickets">
      <li *ngFor="let ticket of tickets; trackBy: trackById">
        <app-ticket [data]="ticket" (close)="onCloseTicket(ticket.id)" />
      </li>
    </ng-container>
    <ng-template #noTickets>
      <li>
        <p>No tickets found</p>
      </li>
    </ng-template>

  </ul>
</div>

<div id="new-ticket">
  <app-new-ticket (add)="onAdd($event)" />
</div>
